/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(37, 53, 90, 1);
    color: white;
    box-sizing: border-box;
    z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-title {
    font-size: 1.5em;
}

.navbar-options {
    display: flex;
    align-items: center;
}

.navbar-option {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.navbar-signout {
    background-color: rgba(0, 127, 163, 1);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.navbar-signout:hover {
    background-color: rgba(0, 114, 147, 1);
}
